@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   
}
<ol class="breadcrumb mb-4  mt-4">
    <li class="breadcrumb-item"><a href="index.html">Resumen</a></li>
    <li class="breadcrumb-item active">Usuario</li>
</ol>

<div class="card">
    <div class="card-header">

        <i class="fas fa-users me-1"> </i> Lista de Usuarios
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal()" >Crear Nuevo</button>
            </div>
        </div>

        <hr />

        <div class="table-responsive"> 
            <table id="tabla" class="display cell-border" style="width: 100%">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                         <th>Correo</th>
                        <th>Activo</th> 
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
         </div> 

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="formModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white" >
                <h5 class="modal-title" id="staticBackdropLabel">Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class= "modal-body g-2">
                
                <input type="hidden" id="txtid" value="0">

                <div class= "row">

                    
                    
                    <div class="col-sm-6">
                        <label for="txtnombres" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="txtnombres" placeholder="tu nombre">
                    </div>
                    
                    <div class="col-sm-6">
                        <label for="txtapellidos" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="txtapellidos" placeholder="tus apellidos">
                    </div>
                    
                    <div class="col-sm-6">
                        <label for="txtcorreo" class="form-label">Correo</label>
                        <input type="text" class="form-control" id="txtcorreo" placeholder="tucorreo@example.com">
                    </div>

                    <div class="col-sm-6">
                        <label for="cboactivo" class="form-label">Activo</label>
                        <select id = "cboactivo"class="form-select" >
                            <option value="1">Sí</option>
                            <option value="0">No</option>
                    
                        </select>
                    </div>

                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>



@section Scripts {
      
    <script>

        var tabladata;
        var filaSeleccionada;

        tabladata = $("#tabla").DataTable({
            responsive: true,
            ordering: false,
            
            "ajax": {
                url: '@Url.Action("ListarUsuarios", "Home")',
                type: "GET",
                dataType: "json",
            },
            
            "columns": [
                { data: "nombre", responsivePriority: 1 },
                { data: "apellidos", responsivePriority: 2 },
                { data: "correo", responsivePriority: 3 },
                {
                    data: "activo", responsivePriority: 4, "render": function (valor) {
                        if (valor) {
                            return '<span  class="badge bg-success">Sí</span>'
                        }
                        else {
                            return '<span  class="badge bg-danger">No</span>'
                        }
                    }
                },

                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen"> </i></button>' +
                    '<button type="button" class="btn btn-danger btn-sm ms-2 "><i class="fas fa-trash"> </i></button>',
                    "orderable" : false,
                    "searchable" : false,
                    "width": "90px",
                }
            ],
                    "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
            }

        });


        function abrirModal(json){
            if (json != null) {//Si se cliceo en editar, se rellena automaticamente con los datos el modal
                $("#txtid").val(json.id);
                $("#txtnombres").val(json.nombre);
                $("#txtapellidos").val(json.apellidos);
                $("#txtcorreo").val(json.correo);
                $("#cboactivo").val(json.activo == true ? 1 : 0);
            }
            else {
                //Se blanquea el modal si se dio en Crear Usuario
                $("#txtid").val("00000000-0000-0000-0000-000000000000");
                $("#txtnombres").val("");
                $("#txtapellidos").val("");
                $("#txtcorreo").val("");
                $("#cboactivo").val(1);
            }

            $("#formModal").modal("show");
        }

        //Se acciona si se hace clic en el body de la tabla, especificamente en un boton que tenga clase .btn-editar
        $("#tabla tbody").on("click", '.btn-editar', function () {
           
            filaSeleccionada=$(this).closest("tr");  //Se  toma la fila del boton editar accionado
            var data = tabladata.row(filaSeleccionada).data();//Informacion en la fila seleccionada

            abrirModal(data);
        })



        //Esta funcion solo se encarga de guardar lo que este en el model
        function Guardar() {


            var Usuario = {
                id: $("#txtid").val(),
                nombre: $("#txtnombres").val(),
                apellidos: $("#txtapellidos").val(),
                correo: $("#txtcorreo").val(),
                activo: $("#cboactivo").val() == 1 ? true : false,
            }

            console.log(JSON.stringify({ objeto: Usuario }));


            fetch('@Url.Action("GuardarUsuario", "Home")', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify( Usuario)
            })
                .then(response => response.json())
                .then(data => {

                    console.log('Solicitud exitosa:', data);

                    var GuidVacio = "00000000-0000-0000-0000-000000000000";

                    //Usuario Nuevo
                    if (Usuario.id === GuidVacio) {
                        if (data.id !== GuidVacio) {
                            Usuario.id = data.resultado;
                            tabladata.row.add(Usuario).draw(false);
                            $('#formModal').modal('hide');
                        }
                        else {
                            alert(data.mensaje)
                        }
                    }
                    else {
                        tabladata.row(filaSeleccionada).data(Usuario).draw(false);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Ocurrió un error durante la solicitud.');
                });
        }


    </script>
}




